.st-emotion-cache-1v0mbdj.e115fcil1 img {
    border-radius: 10%;
}

.st-emotion-cache-4bvl2r.eczjsme11 {
    border-radius: 2%;
}

.st-emotion-cache-nbt3vv.ef3psqc13 {
    margin-top: 30px;
}

.st-emotion-cache-1avcm0n.ezrtsby2 {
    visibility: hidden;
}